@import "./variables.css";
@import "./page.css";
@import "./navigation.css";
@import "./tabbed.css";
@import "./flexbox.css";
@import "./cards.css";
@import "./profile.css";
@import "./button.css";
@import "./dashboard.css";

.xw {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  display: flex;
  flex-flow: column;
  
  &.xw-dark, & .xw-dark {
    background-color: var(--xw-bg-color-dark);
    color:  var(--xw-text-color-dark);
    
    & a, & a:hover, & a:active, & a:focus {
      color:  var(--xw-text-color-dark);
    }
  }
  
  & .xw-hidden {
    display: none !important;
  }
  
  & a, & a:hover, & a:active, & a:focus {
    outline: 0;
  }
  
  & .xw-separator {
    height: 1px;
    background:  var(--xw-border-color);
  }
}

